---
layout: default
permalink: programs/index.html
title: Programs
---
<div class="segment events">
  <div class="container">


    <div class="row">

      <div class="col-md-5">
        {% assign events_data = (site.data.events | where: "featured", false | sort: 'date')%}

        <div class="segment-title">
          <h2>Upcoming Events</h2>
        </div>

        {% for event_data in events_data %}
          {% assign event = site.programs | where: "type","event" | where: "object-id", event_data.event-id | first %}

          {{ event_data.date | date: "<span class='month'>%B</span> <span class='day'>%e</span>" }}
          <h3>{{ event_data.title | default: event.title }}</h3>

        {% endfor %}
      </div>



      <div class="offset-md-1 col-md-6">
        {% assign featured_event_data = (site.data.events | where: "featured", true | first )%}
        {% assign featured_event = site.programs | where: "type","event" | where: "object-id", featured_event_data.event-id | first %}
        <div class="segment-title">
          <h2>Featured Event</h2>
        </div>

        {% if featured_event %}
          <section class="program program-contained" style="background: {{featured_event.cover_img_color}};">
            <a href="{{ featured_event.url | prepend: site.baseurl }}">
              <img class="background" src="/assets/img/programs/{{ featured_event.cover_img}}" alt="">
              <div class="summary">
                <h3>{{ featured_event_data.title | default: featured_event.title }}</h3>
                <p>{{ featured_event_data.teaser | default: featured_event.teaser }}</p>
              </div>
            </a>
        {% else %}
          <h3>Ooops!</h3>
          <p>
            Currently no upcoming events. Check back later!
          </p>
          </section>
        {% endif %}
      </div>

    </div>

  </div>
</div>



<div class="segment segment-nopadding programs">
  <div class="container-fluid">
    <div class="segment-title">
      <h2>Our Programs</h2>
      <p class="short-lead">
        <span class="sep l"></span>
        Empirepark offers a variety of community based programs year round
        <span class="sep r"></span>
      </p>
    </div>


    <div class="row no-gutters">
      {% assign programs = site.programs | where: "type", "program" | where: "published", true %}

      {% unless programs.size > 0 %}
        <h3>Ooops!</h3>
        <p>
          Currently no programs are offered at empire park. Check back later!
        </p>
      {% endunless %}

      {% for program in programs %}
        {% assign screen_width = "program-fullscreen" %}
        {% if forloop.last %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod != 0 %}
            {% assign screen_width = "" %}
          {% endif %}
        {% endif %}


        <section class="program {{ screen_width }}" style="background: {{program.cover_img_color}};">
          <a href="{{ program.url | prepend: site.baseurl }}">
            <img class="background" src="/assets/img/programs/{{ program.cover_img }}" alt="">
            <div class="summary">
              <h3>{{ program.title }}</h3>
              <p>{{ program.teaser }}</p>
            </div>
          </a>
        </section>
      {% endfor %}
    </div>
  </div>
</div>
